<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bases de bootstrap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

	<div class="container">
		<div class="row"> 
			<div id="app">
  			<h1> {{ saludo }} </h1>
			</div>
			<script src = "index.js"></script>
		</div>

  		<div class="row" style="border:1px solid #cecece">
   			<div class="col-sm-4">
		    	<h3>Column 1</h3>
		    	<input v-model="message" placeholder="Esto es un v-model">
				<p>Escribiste: {{ message }}</p>

		    	<p>Esta es una columna de 4</p>
		    	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    		</div>
	    	<div class="col-sm-4">
			    <h3>Column 2</h3>
			    <p>Esta es una columna de 4</p>

			    <p> Usando v-for para listas </p>
			    <ul id="list">
  					<li v-for="item in items" :key="item.message">
    					{{ item.message }}
  					</li>
				</ul>
				<script src = "index.js"></script>

			    <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>

	   		</div>
		    <div class="col-sm-4">
		      	<h3>Column 3</h3>
		      	<p>Esta es una columna de 4</p>
		      	<p> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </p>

		      	<div v-if="Math.random() > 0.5">
 					v-if
				</div>
				<div v-else>
  					v-else
				</div>

		    </div>
  		</div>
  		<div class="row" style="border:2px solid #0000ff">
  			<div class ="col-sm-6">
  				<h3>Column 1</h3>
		    	<p>Esta es una columna de 6</p>
		    	<p> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. </p>
		    	<h1 v-show="ok">Hello! con v-show!</h1>
		    </div>
  			<div class ="col-sm-6">
  				<h3>Column 2</h3>
		    	<p>Esta es una columna de 6</p>
		    	<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
		    	<div id="boton">
  					<button v-on:click="counter += 1">Picame</button>
  					<p> Le picaste al boton {{ counter }} veces.</p>
  					<script src = "index.js"></script>
				</div>
		    </div>

  		</div>
	</div>
	<div class="container">
		<div class= "row">
                <div class= "card">
                    <div class="card-block">
                        <h4 class="card-title"> <strong> Esta es una card </strong></h4>
                        <div class="marg-top-20">
                            <p>The standard Lorem Ipsum passage, used since the 1500s</p>
                            <p> "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?" </p>
                        </div>
                    </div>     
                </div>
        </div>
	</div>
</body>
</html>